body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: black;
}

main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.welcome{
background: #000;
text-align: center;
padding: 200px 0 410px 0;
}
.welcome h1{
	color: aliceblue;
	font-size: 44px;
	padding: 40px;
}
.welcome p{
	color: aliceblue;
	font-size: 30px;
}

.wrapper{
	display: flex;
	align-self: center;
}
.wrapper h1{
	color: #000;
	font-size: 44px;
	text-align: center;
	padding: 40px;
}
.container{
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
	
}
.header{
	background: yellowgreen;

	

}
.cardsline{
	display: flex;
}
.cardsline img{
	width: 250px;
	height: 250px;
	
	
}
.card{
	width: 300px;
	height: 300px;
	text-align: center;
}
.header_inner{
	display: flex;
	align-items: center;
	height: 100px;
	
}


.menu_list{
	display: flex;
	list-style: none;
	margin-right: 12%;
	margin-left: 30%;
}
.menu_item{
	margin: 30px;
	white-space: nowrap;

}
.menu_list-link{
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	line-height: 21px;
	padding-bottom: 5px;
	transition: all .5s;
	border-bottom: transparent;
}  
.menu_list-link:hover{
	border-bottom: 1px solid white;
}
a{
	text-decoration: none;
}